* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(40, 40, 40, 1);
    color: #d4be98;
    border-radius: 8px;
}

#window {
  border-radius: 5px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #d4be98;
    /*border-radius: 0;*/
    border-top: none;
}

#workspaces button.focus {
  /*border-top: 1px solid #d4be98;*/
}

#workspaces button.active {
    color: #98971a;
    /*border-top: 1px solid #98971a;*/
}

#submap {
    background: #d79921;
    color: #282828;
    padding: 0 3px;
    margin: 0 5px;
    font-weight: bold;
    /* border-bottom: 3px solid white; */
}

#clock, 
#idle_inhibitor, 
#battery, 
#cpu, 
#memory, 
#disk, 
#network, 
#pulseaudio,
#bluetooth,
#tray,
#backlight,
#hyprland-language,
#power-profiles-daemon,
#custom-spotify, 
#custom-power, 
#custom-reboot,
#custom-lock,
#custom-quit,
#custom-notification {
    padding: 0 3px;
    margin: 0 5px;
    color: #d4be98;
}

#custom-power {
  color: #fb4934;
}

#custom-lock {
  color: #d3869b;
}

#custom-reboot {
  color: #fabd2f;
}

#backlight {
  color: #fabd2f;
}

#idle_inhibitor.activated {
  color: #689d6a;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}

#clock {
}

#power-profiles-daemon {
    color: #fe8019;
}

#battery.charging {
  color: #689d6a;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.good {
  /*color: #689d6a;*/
}

#battery.warning {
  color: #fe8019;
}

#battery.critical {
  color: #d4be98;
}

#battery.critical:not(.charging) {
  color: #d4be98;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: #d3869b;
}

#memory {
  color: #d3869b;
}

#disk {
  color: #d3869b;
}

#network {
  color: #689d6a;
}

#group-hardware {
}


#bluetooth.on {
  color: #689d6a;
}

/*#bluetooth.connected {*/
/*  color: #d3869b;*/
/*}*/

#pulseaudio  {
  color: #83a598;
}

#pulseaudio.muted {
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#tray {
}

@keyframes blink {
    /*to {*/
    /*    color: #cc241d;*/
    /*}*/
}

